<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Error processing Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" media="all" rel="stylesheet" href="/generated/bulma.css">

</head>
<div class="container">
    <div class="notification is-danger is-rounded">
        <strong th:text="${message}">There was an Error! Check the application log</strong>
    </div>
</div>


</html>